<footer id="footer">
	<div class="container footer">
		<div class="row">
			<div class="column">
				<h4 class="x-bold">Lorem ipsum</h4>
				<ul>
					<li>Lorem</li>
					<li>Lorem</li>
					<li>Lorem</li>
				</ul>
			</div>
			<div class="column">
				<h4 class="x-bold">Lorem ipsum</h4>
				<ul>
					<li>Lorem</li>
					<li>Lorem</li>
					<li>Lorem</li>
				</ul>
			</div>
			<div class="column">
				<h4 class="x-bold">Lorem ipsum</h4>
				<ul>
					<li>Lorem</li>
					<li>Lorem</li>
					<li>Lorem</li>
				</ul>
			</div>
		</div>
	</div>
</footer>