---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

*, *::before, *::after {
		box-sizing: inherit; }
body {
  	background: #FFFFFF;
  	margin: 0 auto;
  	font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 {
		font-family: 'Poppins', sans-serif; }
a {
  	text-decoration: none; }
img {
		height: auto;
		max-width: 100%;
		vertical-align: middle; }
.text-center {
  	text-align: center; }
.text-right {
  	text-align: right; }
.text-left {
  	text-align: left; }
.gray {
		color: #727477; }
.dark-gray {
		color: #4a4a4a; }
.light {
		font-weight: 300; }
.medium {
		font-weight: 500; }
.heavy {
		font-weight: 600; }
.bold {
		font-weight: 700; }
.x-bold {
		font-weight: 800; }
.smooth {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased; }
.p-r-1 {
		padding-right: 1rem; }
.p-r-3 {
		padding-right: 3rem; }
.p-r-5 {
		padding-right: 5rem; }
.p-l-1 {
		padding-left: 1rem; }
.p-l-3 {
		padding-left: 3rem; }
.p-l-5 {
		padding-left: 5rem; }

/* Flex Helpers */
.flex {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox; }
.justify-center {
		justify-content: center;
		-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center; }
.justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.justify-start {	
		justify-content: flex-start;
		-webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start; }
.justify-end {	
		justify-content: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end; }
.align-content-center {
		align-content: center; }
.align-center {
		align-items: center;
		-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center; }
.align-start {
		align-items: flex-start;
		-webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start; }
.align-end {
		align-items: flex-end;
		-webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end; }

/* Layout Helpers */
.container {
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		flex-direction: column;
}
.container.full {
		width: 100vw; }
.container.stretch {
		height: 100vh; }
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
		flex-wrap: wrap; }
.column {
		display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem; }

/* Homepage Styles */
.hero {
		background-image: linear-gradient(to bottom, #ffe9fd, #ffffff);
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center; }
.hero h1 {
		font-size: 42px;
		opacity: 0.8;
		margin-bottom: 0; }
.hero p {
		font-size: 24px;
		margin-top: 8px; }
.sign-up {
		margin-top: 60px; }
.sign-up input {
		color: #9b9b9b;
		font-size: 16px;
		border-radius: 8px;
		padding: 10px 98px 10px 18px;
		border: 1px solid #979797;
  	background-color: #ffffff; }
.sign-up button {
  	font-size: 16px;
  	font-weight: 600;
		margin-left: 18px;
		color: #fdf8ff;
		padding: .7rem 1.5rem;
	  border-radius: 8px;
		border: 1px solid #c8a0eb;
  	background-color: #e6c9ff; }
.logos {
		padding-left: 2rem;
		padding-right: 2rem;
		height: 100px;
		background-color: #e6c9ff; }
.logos .logo-row .logo img {
		height: 60px; }
.container.info {
		padding: 4rem; }
.info-row {
		padding: 6rem 0; }
.info-row h2 {
		font-size: 30px;
		opacity: 0.8; }
.info-row p {
		font-size: 24px; }
.faces {
		background: url(/assets/img/faces-background.svg) top center repeat / contain;
		padding: 4rem 0;
		height: 700px;
}
.faces h1 {
		font-size: 30px;
		opacity: 0.8; }
.footer {
		color: #FFFFFF;
		padding: 2rem 6rem;
		background-color: #f4d8f1; }
.footer h4 {
	font-size: 24px; }
.footer ul {
		list-style: none;
		padding: 0; }
.footer ul li {
		font-size: 18px;
		padding-bottom: .7rem;
		font-weight: bold; }